<!DOCTYPE html>
<html>
<body>
<form method="post" action="/booking">
<h1>Book a hotel</h1>

		{% for file1 in data %}

    		<p>{{ file1 }}</p><input type="submit" value="Book">

		{% endfor %}
</form>
<a href='/logout'>Logout</a>
</body>
</html>