<!DOCTYPE html>
<html>
<body>

<h1>List of Hotels</h1>
<!-- {% for file in data %}

    <p>{{ file }}</p>

{% endfor %} -->
  {% for file in hotel_names %}
    
    <p>{{ file }}</p>
 
  {% endfor %}

<p><a href="/badlapur">Book a Hotel</a></p>

</p><a href='/logout'>Logout</a></p>

</body>
</html>